<html>
	<head>
		<title>ITransNet Event Subscription</title>
		<LINK REL=StyleSheet HREF="static/css/base.css" TYPE="text/css" MEDIA=screen>
		<script type="text/javascript">
		.FB_RECEIVER_DOM {
			background-color:Blue;
		}
		#FB_HiddenIFrameContainer {
		}
		</script>
		{% block script %}
		{% endblock %}
	</head>
<body>
<div class="ps_header">
	<ul class="ps_menu">
	{% if IN_FACEBOOK %}
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/?{{ FB_SIG }}">Home</a></li>
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/itransnet/?{{ FB_SIG }}">ITranSNet</a></li>
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/sub/?{{ FB_SIG }}">Raw Event Definition</a></li>
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/pub/?{{ FB_SIG }}">Raw Events</a></li>
	{% else %}
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/">Home</a></li>
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/itransnet/">ITranSNet</a></li>
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/sub/">Raw Event Definition</a></li>
	<li class="ps_menu"><a class="ps_menu" href="{{ URL_ROOT }}/pub/">Raw Events</a></li>
	{% endif %}
	</ul>
</div>
</br>
<div class="ps_content">
	{% block content %}{% endblock %}
</div>

<div class="ps_footer">
	Powered by PSWare
</div>
{% if IN_FACEBOOK %}
<!--<textarea style="width: 1000px; height: 300px;" id="_traceTextBox"></textarea>-->
<script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script> 
<script type="text/javascript">
	FB_RequireFeatures(["CanvasUtil"], function() {
		//You can optionally enable extra debugging logging in Facebook JavaScript client
		//FB.FBDebug.isEnabled = true;
		//FB.FBDebug.logLevel = 4;

		FB.XdComm.Server.init("static/xd_receiver.htm");
		FB.CanvasClient.startTimerToSizeToContent();
		//FB.CanvasClient.stopTimerToSizeToContent();
		//FB.CanvasClient.setCanvasHeight("1500px");
	});
</script>
{% endif %}
</body>
</html>
