body {
	background: #d0e4fe;
}
.ps_header {
	text-align: center;
	margin:auto;
}
ul.ps_menu {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}
li.ps_menu {
	float:left;
}
a.ps_menu:link, a.ps_menu:visited {
	display:block;
	width:150px;
	text-align:center;
	padding:4px;
	text-decoration:none;
}
a.ps_menu:hover, a.ps_menu:active {
	background-color:#178D80;
}
